.register-container{
    height: 100vh;
    background-size:cover;
    display:flex;
    justify-content: flex-start;
    background-image: url(../images/register2.png);
    background-size: cover;
    overflow: hidden;
}
.register-container .aside-right{
    width: 30%;
    background:#fff;
    height: 100vh;
}
.register-container .aside-right .header{
    font-size: 30px;
    color:#333;
    font-family: sans-serif;
    margin-top:50px;
    text-align: center;
    background-color: white;
}
.register-container  .input-name-wrapper{
    display:flex;
    justify-content: space-between;
}
.register-container .input-name-wrapper .input-wrapper{
    width: 48%;
}
#register-form{
    padding:20px;
}
.register-container .form-action{
    display:flex;
    justify-content: space-between;
    align-items:center;
}
